* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 1em;
  color: #444444;
  line-height: 1.6;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: purple;
}

a {
  text-decoration: none;
}

/** Header Section (Mobile view)**/

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f0f2f5;
  padding: 1em;
}

/** Header/Nav-bar Section (Mobile view) **/
.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 98%;
  max-width: 300px;
  gap: 0.3em;
  padding: 0;
  margin: 0;
}
.menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 45px;
}

.menu h1 {
  color: purple;
}
.menu a {
  font-weight: 600;
  color: purple;
  text-decoration: none;
}

/** Header/Content Section (Mobile view) **/

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
  gap: 1em;
  padding: 2em 0;
}

.avatar-image {
  background-color: #ededed;
  padding: 1em 4em;
}
.avatar-image img {
  width: 30vw;
  max-width: 180px;
  height: auto;
  border-radius: 50%;
}

/** portfolio Section (Mobile View)**/

.portfolio,
.portfolio-content,
.por {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8em;
}

.portfolio-content article {
  padding: 1em;
}
.portfolio h3 {
  margin: 2em 0 1em 0;
}
.portfolio-content img {
  width: 100%;
  max-width: 370px;
}
.portfolio-content h4 {
  margin-top: 1em;
}
.portfolio-content p {
  text-align: center;
}

/** Skill Section (Mobile View)**/

.skill,
.skill-content,
.coding {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.8em;
}

.skill {
  background-color: #f0f2f5;
  padding-bottom: 1.5em;
}
.skill h3  {
  margin: 2em 0 1em 0;
}

.skill-content article {
  padding: 1em;
}
.coding img {
  width: 100%;
  max-width: 370px;
}
.skill-content h4 {
  margin-top: 1em;
}
.skill-content p {
  text-align: center;
}

/** Footer Section (Mobile View)**/

footer.main-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  background-color: #ffffff;
  padding: 2em 1em;
}
footer.main-footer h4 {
  text-align: center;
  margin: 1em 0;
}
footer.main-footer p {
  margin: 0;
  text-align: center;
}

p.contact-detail {
  line-height: 2.5;
}

/** Divider**/
.divider {
  height: 2px;
  background-color: #f0f2f5;
  width: 94%;
  max-width: 100%;
  border: none;
  margin: 1px auto;
}

/** Footer-bottom for Mobile View**/

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 1.5em 1em 1em;
}
.footer-bottom h5 {
  margin: 0;
  font-size: 0.8em;
  font-weight: 600;
  text-align: center;
  color: #444444;
}

.footer-menu {
  display: none;
}

/** Device Responsive (Tablet viewport) **/

@media (min-width: 768px) {

  /** Header Section **/

  header {
    background-color: #F7F7F7;
  }
  .main-header {
    flex-direction: column;
    padding: 2em 1em;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1em;
}

  .menu ul {
    flex-direction: row;
    justify-content: center;
    gap: 1em;
  }

  .menu li {
    width: 100%;
    background-color: #f0f2f5;
  }

  .content {
    flex-direction: row;
    align-items: flex-start;
    padding: 2em 1em;
  }

  .content p {
    order: -1;
    text-align: left;
    font-size: 1.25em
  }

  .avatar-image {
    background-color: #ededed;
    padding: 1em 5em;
  }

  .avatar-image img {
    width: 40vw;
    max-width: 180px;
  }

/** Portfolio Section **/
  .portfolio {
    padding-bottom: 1.5em;
  }
  .portfolio-content,
  .skill-content {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .por {
    display: flex;
    flex-direction: column;
  }

  .portfolio-content article {
    padding: 0;
  }

  div.portfolio-content .por,
  div.skill-content .coding {
      flex-basis: calc(50% - 20px);
      width: 100%;
      max-width: 370px;
      object-fit: cover;
      margin-bottom: 1em;
  }
  .portfolio h2 {
    margin: 2em 0;
  }

  .skill-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .skill-content article {
    padding: 0;
  }
  .skill h2 {
    margin: 2em 0;
  }

  /** footer Section **/

  .footer-bottom {
    display: none;
  }

  footer.main-footer {
    padding: 2em 8em;
  }

  footer.main-footer h3 {
    margin: 2em;
  }

  footer.main-footer p {
    margin-bottom: 1em;
  }

  .divider {
    width: 90%;
    max-width: 100%;
  }


  .footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 2.5em;
  }

  .footer-menu ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      gap:1em;
    }

  .footer-menu a {
      color: purple;
      font-weight: 600;
    }
}

/** Device Responsive (larger screen) **/

@media (min-width: 1024px) {

  .main-header {
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1em;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.3em;
  }
  .menu h1 {
    margin: 0 1em;
  }

  .content {
    padding: 2em 1em;
  }
  .avatar-image {
    background-color: #ededed;
    padding: 1em 6em;
    }
  .avatar-image img {
    width: 80vw;
  }

  .content p {
    font-size: 1.25em;
    margin: 0  1em 1em 0.5em;
}
  .portfolio,
  .skill {
    padding: 1em;
  }
  .portfolio-content,
  .skill-content {
    justify-content: center;
    align-items: stretch;
}
  div.portfolio-content .por,
  div.skill-content .coding  {
    flex-basis: calc(33.33% - 20px);
  }


  footer.main-footer {
    padding: 3em 14em;
  }

  .footer-menu {
    padding: 1em 4em;
  }
}
