* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html, body {
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1em;
  color: #444444;
  line-height: 1.6;
  background-color: #ffffff;
}

h1 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0.5em;
}

h2 {
  font-size: 1.25em;
  font-weight: 500;
}

p, a {
  font-size: 0.9em;
}

.main-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F7F7F7;
  color: #333;
  padding: 1rem;
}

.menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  list-style: none;
}

nav.menu a {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  font-weight: 600;
  color: #333;
  background-color: #FFF;
  width: 300px;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
}

.content img {
  order: -1;
  width: 250px;
  align-self: center;
  margin: 2em 1em 1em 1em;
}

.content p {
  text-align: center;
}

footer.main-footer,
main.portfolio,
.marketing-page,
.search-page,
.travel-app,
.maps,
.gallery,
.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.7em;
}

.portfolio-content div {
  padding: 1em;
}

.portfolio h2 {
  margin-top: 2em;
  font-weight: bold;
}

.portfolio-content img {
  width: 100%;
  max-width: 350px;
  height: auto;
}

.portfolio-content h3 {
  margin: 0.5em 0;
  font-weight: 500;
}

.portfolio-content p {
  text-align: center;
  margin: 0;
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F7F7;
  padding: 3em 1em;
}

footer.main-footer h2 {
  margin: 0.3em;
}

footer.main-footer p {
  margin: 0;
  text-align: center;
  font-weight: 350;
}

.divider {
  height: 0.5px;
  background-color: #ccc;
  width: 350px;
  max-width: 1000px;
  align-self: center;
  border: none;
  margin: 0.2px auto;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F7F7F7;
  padding: 1em;
}

.footer-bottom h3, a {
  margin: 0;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  color: #444444;
}

.footer-nav {
  display: none;


/** Device Responsive **/

@media (min-width: 768px) {

  p {
    font-size: 1.11em;
  }

  /** Header Section **/

  header {
    background-color: #F7F7F7;
  }
  .main-header {
    flex-direction: column;
    padding-top: 2em;
  }
  .menu ul {
    flex-direction: row;
    justify-content: space-between;
  }
  nav.menu a {
    width: 100px;
    background-color: #F7F7F7;
  }

  .content {
    flex-direction: row;
    padding: 2em 2em;
  }
  .content p {
    order: -1;
    text-align: left;
  }
  .content img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

/** Portfolio Section **/

  .portfolio-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  div.portfolio-content .por {
    flex-basis: calc(50% - 20px);
    padding: 1em;
    margin-bottom: 2em;
  }
  .portfolio h2 {
    margin: 1em 0;
  }

  /** footer Section **/

  .main-footer {
    padding: 2em 8em;
  }
  footer.main-footer p {
    margin-bottom: 1em;
  }
  .divider {
    width: 720px;
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
  }

}
